input,
textarea {
    background-color: var(--background-color);
    transition: all 0.1s;

    padding: 0.625rem;
    border-radius: 0.5rem;
    border: 1px solid var(--blue);
}

input:hover,
textarea:hover {
    border: 1px solid var(--light-blue);
}

input:active,
textarea:active {
    transform: scale(0.98);
}

.input-error {
    border-color: var(--color-red-500);
}

.contact-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s;
    padding: 1rem;
    border-radius: 1rem;
}

.contact-option:hover {
    scale: 1.1;
    cursor: pointer;
    background-color: var(--card-background);
}

.contact-option svg {
    color: var(--light-blue);
    margin-bottom: 1rem;
}

.contact-option h3 {
    font-size: 1.25rem;
    color: var(--light-blue);
    font-weight: 500;
}

.contact-option p {
    font-size: 1.125rem;
    color: white;
}